/* web.css */

body {
    font-family: monospace;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #333;
}
header .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 100px;
    border-bottom: #77aaff 3px solid;
    font-family: fantasy;
}
header nav .dropdown{
    display: none;
    list-style: none;
    margin-top: 8px;
    width: 60px;
    height: 35px;
    position: relative;
    right: 20px;
}
header nav .dropdown .element{
    margin-bottom: 4px;
    position: relative;
}
header nav .dropdowns:hover .dropdown{
    display: block;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header nav ul {
    padding: 0;
    list-style: none;
}
header nav li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    position: relative;
}
header #branding {
    float: left;
}
header #branding h1 a {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav {
    float: right;
    margin-top: 10px;
}
header .container .menu-toggle{
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    float: right;
}

main{
    width: 100%;
    height: auto;
    order: 1;
    
}

main #img-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232121;
    color: #fff;
    
}
main #img-container .slogan-area{
    width: 50%;
    height: 150px;
    background-color: #232121;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}
main #img-container .slogan-area h1{
   margin-top: 30px;
}

main #img-container .slogan-area button {
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: 3px solid #fff; 
    background: linear-gradient(to left,#FFA24C, #f88921);
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: left;
    transition: 0.50s all ease-in-out;
}
main #img-container .slogan-area button:hover{
    background-size: 100%;
}

main #description-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232121 ;
}

main #description-container .description{
    width: 50%;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
}

main #description-container .description h1{
    margin-left: 15px;
    font-size: 27px;
}

main #description-container .description p{
    margin-left: 15px;
    font-size: 17px;
}

main #description-container .description button{
    margin: 10px 0 0 37%;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: #000;
    border: 3px solid #000; 
    background: linear-gradient(to left,#FFA24C, #f88921);
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: left;
    transition: 0.50s all ease-in-out;
    overflow: auto;
}
main #description-container .description button:hover{
    background-size: 100%;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

@media (min-width: 857px) {
    header{
        height: 70px;
    }
  }

@media (max-width: 768px) {
    h1 {
      font-size: 24px;
    }
  
    button {
      font-size: 16px;
    }
    .Moreinfo-btn{
        position:absolute   ;
        right: 230px;
        font-size: 14;
        width: 38%;
        float: left;
    }
}

@media (max-width: 700px) {
    main .description{
        overflow: auto;
        height: 280px !important;
    }
    .Moreinfo-btn{
       position: absolute;
       left: -20px;
       width: 35%;
       height: 30%;
    }

}

@media (max-width: 857px) {
    .nav-links  {
        display: none; 
        flex-direction: column;
        width: 100%;
        height: 160px;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        margin-top: 50px;
    }

    .nav-links li {
        width: calc(100% - 50px);
        text-align: center;
        border-top: 1px solid #555;
        margin-top: 10px;
    }
    .nav-links li a{
        position: relative;
        top: 5px;
    }

    .dropdown{
        min-width: 100%;
        margin-left: 24px;

    }

    .nav-links.show{
        display: flex;
    }

    header .container .menu-toggle {
        display: inline-block;
    }
  }