/* web.css */

@media (max-width: 1000px) {
    .nav-links {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    
    .nav-links li {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
    
    .menu-icon {
        display: block;
    }

    .nav-links.show {
        display: flex;
    }
}

.menu-icon {
    display: none;
    font-size: 24px;
    cursor: pointer;
}


body {
    font-family: monospace;
    background-color: #f0f2f5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #000;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 100px;
    border-bottom: #77aaff 3px solid;
    font-family: fantasy;
}
header .box{
    display: none;
    list-style: none;
    margin-top: 8px;
    width: 60px;
    height: 35px;
    position: relative;
    right: 20px;
}
header .box .element{
    margin-bottom: 4px;
}
header .open:hover .box{
    display: block;
}
header ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}
header #branding {
    float: left;
}
header #branding h1 a {
    margin: 0;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
header nav {
    float: right;
    margin-top: 10px;
}



main{
    width: 100%;
    height: auto;
}


#img-container{
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232121;
    color: #fff;
    
}
#img-container .slogan-area{
    width: 50%;
    height: 150px;
    background-color: #232121;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
}
#img-container .slogan-area h1{
   margin-top: 30px;
}

#img-container .slogan-area button {
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: #fff;
    border: 3px solid #fff; 
    background: linear-gradient(to left,#FFA24C, #f88921);
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: left;
    transition: 0.50s all ease-in-out;
}
#img-container .slogan-area button:hover{
    background-size: 100%;
}


#description-container{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #232121 ;
}
#description-container .description{
    width: 50%;
    height: 200px;
    background-color: #fff;
    border-radius: 5px;
}
#description-container .description h1{
    margin-left: 15px;
    font-size: 27px;
}
#description-container .description p{
    margin-left: 15px;
    font-size: 17px;
}
#description-container .description button{
    margin: 10px 0 0 37%;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    color: #000;
    border: 3px solid #000; 
    background: linear-gradient(to left,#FFA24C, #f88921);
    background-repeat: no-repeat;
    background-size: 0%;
    background-position: left;
    transition: 0.50s all ease-in-out;
}
#description-container .description button:hover{
    background-size: 100%;
}





footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 30px;
}

