/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
}
header {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1em;
}
nav ul {
    list-style-type: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 5px;
}
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 1em;
    display: block;
    margin-bottom: auto;
    border-radius: 10%;
}
main {
    padding: 1em;
}
