<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/icon.jpeg" type="image/jpeg" />
    <title class="translate">ACDcoin</title>
    <link rel="stylesheet" href="/assets/css/global.css" />
    <script src="/assets/js/translation.js"></script>
    <script src="/assets/js/global.js"></script>
</head>
<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><a href="/" class="translate">ACDcoin</a></h1>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <nav>
                <ul class="nav-links">
                    <li class="main-page"><a href="/" class="translate">Ana sayfa</a></li>
                    <li><a href="/mining" class="translate">Madencilik</a></li>
                    <li class="dropdowns" onmouseover="expandMen()">
                        <a class="translate" href="/about-us">Hakkımızda</a>
                        <div class="dropdown">
                            <ul>
                                <div class="box">
                                    <li class="element">
                                        <a href="/contact" class="translate first">İletişim</a>
                                        <a href="/team" class="translate">Ekip</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li><a href="/transaction" class="translate">İşlemler</a></li>
                    <li class="download-page"><a href="/download" class="translate">İndir</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="backdrop"></div>