<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/assets/images/icon.jpeg" type="image/jpeg" />
    <title>ACDcoin</title>
    <link rel="stylesheet" href="/assets/css/global.css" />
    <script src="/assets/js/content.js"></script>
    <script src="/assets/js/global.js"></script>
    <script src="/assets/js/translation.js"></script>

</head>

<body>
    <header>
        <div class="container">
            <div id="branding">
                <h1><a href="/">ACDcoin</a></h1>
            </div>
            <nav>
                <ul class="nav-links">
                    <li class="main-page"><a class="translate" href="/">Ana sayfa</a></li>
                    <li>
                        <a class="translate" href="/mining">Madencilik</a>
                    </li>
                    <li class="dropdowns" onmouseover="expandMen()">
                        <a class="translate" href="/about-us">Hakkımızda</a>
                        <div class="dropdown">
                            <ul>
                                <div class="box">
                                    <li class="element">
                                        <a class="translate first" href="/contact">İletişim</a>
                                        <a class="translate" href="/team">Ekip</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a class="translate" href="/transaction">İşlemler</a>
                    </li>
                    <li class="download-page"><a class="translate" href="/download">İndir</a></li>
                </ul>
            </nav>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        </div>
    </header>
    <div class="backdrop"></div>