.main-content {
    width: 50%;
    margin: auto;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border-radius: 5px;
    text-align: left;
    position: relative;
    margin-bottom: 120px;
}
.main-content .aboutText {
    width: 90%;
    text-align: left;
    font-size: 19px;
}
.main-content h1 {
    font-size: 35px;
}
