body {
    font-family: "Times New Roman", Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.back-button {
    display: inline-block;
    padding: 10px;
    background: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 20px;
    text-align: center;
    transition: 200ms all ease-in-out;
    position: relative;
}
.back-button:hover {
    background-color: #006400;
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
    height: 350px;
}

.container .download {
    display: flex;
    height: 170px;
    text-align: center;
}

.container .download .windows-download {
    width: 50%;
    margin: 0 auto;
    position: relative;
    right: -70px;
}
.container .download .mac-download {
    width: 50%;
    margin: 0 auto;
    position: relative;
    right: 50px;
}

.container .download button {
    width: 120px;
    height: 40px;
    background-color: #0078d4;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: 300ms all ease-in-out;
}

.container .download button:hover {
    background-color: #0163ad;
}

.container .download .windows-btn-download {
    position: relative;
    top: 25px;
    left: -105px;
}

.container .download .mac-btn-download {
    position: relative;
    top: 25px;
    left: -80px;
}

.container .download img {
    width: 40%;
    height: 125px;
    margin-top: 15px;
    margin-left: 20px;
    position: relative;
    top: -25px;
}
