body {
    font-family: monospace;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.container {
    max-width: 1480px;
    margin-inline: auto;
}
header .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 0px;
    font-family: italic;
}

header #branding {
    float: left;
    margin: auto;
}
header #branding h1 a {
    position: absolute;
    top: 30px;
    font-size: 45px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    padding: 0;
    list-style: none;
}

header nav li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    position: relative;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header nav .dropdown {
    display: none;
    list-style: none;
    margin-top: 8px;
    width: 60px;
    height: 60px;
    position: relative;
    right: 10px;
    z-index: 100;
}
header .dropdown .box {
    border-radius: 4px;
    background-color: #444;
    height: 80px;
    width: 115px;
}
header .dropdown .box .element {
    position: relative;
    top: 10px;
    margin-inline: auto;
}


header nav .dropdowns:hover .dropdown {
    display: block;
}


header .container .menu-toggle {
    display: none;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    float: right;
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    position: fixed;
    margin-bottom: 0;
    width: 100%;
}

footer .language {
    display: inline-block;
    background-color: #222;
    color: #fff;
    padding: 5px;
    border: 1px solid #444;
    border-radius: 4px;
    transition: 10ms all ease-in-out;
}

footer .language:hover {
    background-color: #444;
}

@media (min-width: 1048px) {
    header {
        height: 70px;
    }
}

@media (max-width: 1048px) { 
    header .container .menu-toggle {
        display: block;
        float: right;
    }
    nav{
        width: 100%;
        text-align: center;
    }

    header nav ul {
        display: none;
        flex-direction: column;
        background-color: #333;
        width: 100%;
        padding: 10px 0;
    }

    header nav ul.show {
        display: flex;
    }

    header nav ul li {
        margin: 10px 0;
        text-align: center;
    }

    header nav ul li a {
        font-size: 18px;
    }

    header nav .dropdown{
        width: 100%;
    }
    header nav.dropdown .element a{
        position: relative;
        color: #fff;
        z-index: 100;
        background-color: #fff;
        display: block;
    }
}