body {
    font-family: monospace;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.showcase {
    position: relative;
    min-height: 400px;
    color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}

.showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #f1f1f1;
}

.showcase .container {
    position: relative;
    z-index: 2;
    color: #111;
}

.showcase h1 {
    font-size: 55px;
    margin-bottom: 10px;
}

.showcase p {
    font-size: 20px;
}

.content {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    position: relative;
    margin: auto;
}

.container {
    max-width: 1480px;
    margin-inline: auto;
}

.content h1 {
    font-size: 30px;
}

.content p,
.content li {
    font-size: 17px;
}
